[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
tf-nightly-gpu = "*"
chatterbot = "==1.0.4"
pytz = "*"
sqlalchemy = "==1.3.6"
chatbotai = "==0.2.0.8"

[dev-packages]

[requires]
python_version = "3.9"
